html {
    background-image: url(/img/eatright1.png);
    background-size: cover;
}

.bmr-calculator {
    max-width:300px;
    font-family: "Roboto", sans-serif;
    padding: 8px 24px;
    box-shadow: 0 4px 8px -3px rgba(0,0,0,0.3);
    background: red;
}

.bmr-calculator,
.bmr-calculator * {
    box-sizing: border-box;
}

.bmr-calculator h2 {
    text-align: center;
    background: #222;
    color: #fff;
    font-weight: 100;
    margin: -8px -24px;
    margin-bottom: 8px;
    padding: 16px;
}

.bmr-calculator form h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 16px 0 10px 0;
}

.bmr-calculator