html {
    background-image: url(/img/healthyfood.png);
    background-size: cover;
}

 h1.title {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: lighter;
}



.level {
 font-family: 'Times New Roman', Times, serif;
 color: white;
}

.level a {
    color: white;
}


.columns {
    margin-bottom: 1.5rem;
    position: absolute;
    top: 30%;
    left: 130px;
}

.calculator {
    max-width:600px;
    font-family: "Roboto", sans-serif;
    padding: 8px 24px;
    box-shadow: 0 4px 8px -3px #777;
    background-color: rgba(109, 105, 101, 0.451);
    color: azure;
}

.calculator * {
    box-sizing: border-box;
}

.calculator h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;;
    text-align: center;
    color: #fff;
    font-weight: 100;
    margin: -8px -24px;
    margin-bottom: 8px;
    padding: 16px;
}

.calculator form h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 16px 0 10px 0;
}

.calculator form input[type="text"] {
    width: 100%;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #d5dbdd;
}

.calculator form input[type="text"].invalid {
    border: 1px solid red;
}

.calculator form {
    display:flex;
    flex-direction: column;
    gap: 4px;
}

.calculator form #female {
  margin-left: 20px;
}

.calculator form .height,
.calculator form .weight {
    position: relative;
}

.calculator form .unit {
    position: absolute;
    right: 20px;
    top: 50px;
    color: #777;
}

.calculator .result .calculate-btn {
    padding: 8px 24px;
    margin: 16px 0px;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 32px;
}

.calculator .result {
    text-align: center;
    color: white;
    font-size: 18px;
}

.calculator .result .calories {
    color: white;
    font-size: 38px;
    font-weight: 900;
    margin-right: 8px;
    vertical-align: middle;

}

.calculator .result .error-message {
    color: pink;
    font-size: 14px;
    display: none;
}


/* TDEE CODE */
.activity-level h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 16px 0 10px 0;
}

.tdee-calculator .result .calculate-btn {
    padding: 8px 24px;
    margin: 16px 0px;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 32px;
}

.tdee-calculator .result {
    text-align: center;
    color: white;
    font-size: 18px;
}

.tdee-calculator .result .calories {
    color: white;
    font-size: 38px;
    font-weight: 900;
    margin-right: 8px;
    vertical-align: middle;

} 

@media screen and (max-width: 768px) {
    html {
        background-image: url(/img/recipecover.png) !important;
        background-size: auto;
    }
    
     h1.title {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 75px;
        font-weight: lighter;
    }
    
    
    
    .level {
        display: flex;
        justify-content: space-around;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    
    .level a {
        color: white;
    }
    
    
    .columns {
        margin-bottom: 1.5rem;
        position: absolute;
        top: 30%;
        left: 95px;
    }
    
    .calculator {
        margin-top: 10%;
        max-width:600px;
        font-family: "Roboto", sans-serif;
        padding: 5px 16px;
        box-shadow: 0 3px 5px -2px #777;
        background-color: rgba(109, 105, 101, 0.451);
        color: azure;
    }
    
    .calculator * {
        box-sizing: border-box;
    }
    
    .calculator h2 {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 24px;;
        text-align: center;
        color: #fff;
        font-weight: 100;
        margin: -5px -12px;
        margin-bottom: 5px;
        padding: 12px;
    }
    
    .calculator form h3 {
        font-size: 10px;
        text-transform: uppercase;
        margin: 12px 0 6px 0;
    }
    
    .calculator form input[type="text"] {
        width: 100%;
        padding: 3px 12px;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #d5dbdd;
    }
    
    .calculator form input[type="text"].invalid {
        border: 1px solid red;
    }
    
    .calculator form {
        display:flex;
        flex-direction: column;
        gap: 3px;
    }
    
    .calculator form #female {
      margin-left: 15px;
    }
    
    .calculator form .height,
    .calculator form .weight {
        position: relative;
    }
    
    .calculator form .unit {
        position: absolute;
        right: 15px;
        top: 35px;
        color: #777;
    }
    
    .calculator .result .calculate-btn {
        padding: 5px 16px;
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 75;
        text-transform: uppercase;
        border: none;
        background: #333;
        color: #fff;
        cursor: pointer;
        margin-bottom: 24px;
    }
    
    .calculator .result {
        text-align: center;
        color: white;
        font-size: 12px;
    }
    
    .calculator .result .calories {
        color: white;
        font-size: 28px;
        font-weight: 600;
        margin-right: 5px;
        vertical-align: middle;
    
    }
    
    .calculator .result .error-message {
        color: pink;
        font-size: 8px;
        display: none;
    }
    
    
    /* TDEE CODE */
    .activity-level h3 {
        font-size: 10px;
        text-transform: uppercase;
        margin: 12px 0 6px 0;
    }
    
    .tdee-calculator .result .calculate-btn {
        padding: 6px 16px;
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 750;
        text-transform: uppercase;
        border: none;
        background: #333;
        color: #fff;
        cursor: pointer;
        margin-bottom: 24px;
    }
    
    .tdee-calculator .result {
        text-align: center;
        color: white;
        font-size: 12px;
    }
    
    .tdee-calculator .result .calories {
        color: white;
        font-size: 28px;
        font-weight: 600;
        margin-right: 5px;
        vertical-align: middle;
    
    }
}

@media screen and (max-width: 320px) {
    html {
        background-image: url(/img/calculatorcover.png) !important;
        background-size:auto;
    }
    
     h1.title {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        font-weight: lighter;
    }
    
    
    
    .level {
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    
    .level a {
        color: white;
    }
    
    
    .columns {
        margin-bottom: .75rem;
        position: static;
        top: 30%;
        left: 95px;
    }
    
    .calculator {
        margin-top: 65%;
        margin-left: 3%;
        max-width:300px;
        font-family: "Roboto", sans-serif;
        padding: 2px 12px;
        box-shadow: 0 3px 5px -2px #777;
        background-color: rgba(109, 105, 101, 0.451);
        color: azure;
    }
    
    .calculator * {
        box-sizing: border-box;
    }
    
    .calculator h2 {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 24px;;
        text-align: center;
        color: #fff;
        font-weight: 100;
        margin: -5px -12px;
        margin-bottom: 5px;
        padding: 12px;
    }
    
    .calculator form h3 {
        font-size: 10px;
        text-transform: uppercase;
        margin: 12px 0 6px 0;
    }
    
    .calculator form input[type="text"] {
        width: 100%;
        padding: 3px 12px;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #d5dbdd;
    }
    
    .calculator form input[type="text"].invalid {
        border: 1px solid red;
    }
    
    .calculator form {
        display:flex;
        flex-direction: column;
        gap: 3px;
    }
    
    .calculator form #female {
      margin-left: 15px;
    }
    
    .calculator form .height,
    .calculator form .weight {
        position: relative;
    }
    
    .calculator form .unit {
        position: absolute;
        right: 15px;
        top: 35px;
        color: #777;
    }
    
    .calculator .result .calculate-btn {
        padding: 5px 16px;
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 75;
        text-transform: uppercase;
        border: none;
        background: #333;
        color: #fff;
        cursor: pointer;
        margin-bottom: 24px;
    }
    
    .calculator .result {
        text-align: center;
        color: white;
        font-size: 12px;
    }
    
    .calculator .result .calories {
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-right: 5px;
        vertical-align: middle;
    
    }
    
    .calculator .result .error-message {
        color: pink;
        font-size: 8px;
        display: none;
    }
    
    
    /* TDEE CODE */
    .activity-level h3 {
        font-size: 10px;
        text-transform: uppercase;
        margin: 12px 0 6px 0;
    }
    
    .tdee-calculator .result .calculate-btn {
        padding: 6px 16px;
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 750;
        text-transform: uppercase;
        border: none;
        background: #333;
        color: #fff;
        cursor: pointer;
        margin-bottom: 24px;
    }
    
    .tdee-calculator .result {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    
    .tdee-calculator .result .calories {
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-right: 5px;
        vertical-align: middle;
    
    }
}

