:root {
    --light-gold: #eeead6;
    --dark-gold: #cdad7d;
    --grey-back: rgba(109, 105, 101, 0.451);
}

html {
    background-image: url("./img/welcome.png");
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

nav {
    margin: 50px;
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level {
    position:absolute;
    width: 50%;
    max-width: 1000px;
}
a {
    color: white;
    cursor: grabbing;
    font-family: 'Times New Roman', Times, serif;
    margin:20px 0px;
    font-style: bold;
    letter-spacing: 2px;
}

.mission-container {
    color: var(--light-gold);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position:absolute;
    top: 50%;
    left: 128px;
    width: 300px;
}

 #sources {
    margin: 50px 0px;
    border: none; 
    padding: 10px 60px;     
    max-width:800px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;   
    background-color: var(--dark-gold);
    color:black;
 }
 /* Description Cards */
 #info-box {
    position: absolute;
    left: 620px;
    top: 260px;
    height: 60%;
    width: 80%;
 }

 .card {
    background-color: var(--grey-back);
 }

 .card h2 {
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
 }
.card p {
    color: white;  
    font-size: 20px;  
 }

footer {
    /* display: flex;
    align-items: flex-end;
    justify-content: center; */
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: var(--light-gold);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}

footer h3 {
    font-size: 20px;
    font-style: italic;
    color: var(--light-gold);
}