html {
    background-image: url(/img/fit2.png);
    background-size: cover;
}

.equipment {
    font-size: 25px;
    margin-bottom: 2%;
}

.card {
    background-color: rgba(109, 105, 101, 0.451);
    color: azure;
}

.color {
    color: azure;
}
header {
    color: azure;
    display: flex;
    justify-content: space-around;
}

.bold {
    font-size: 25px;
    font-weight: 900;
}

.hide {
    display: none;
}

ol {
    list-style:circle;
}

a {
    color: azure;
}

a:hover {
    cursor: grabbing;
}